h1 Login
form(action='/login', method='POST')
  #login
    label(for=everyauth.password.loginFormFieldName) Email
    input(type='text', name=everyauth.password.loginFormFieldName, value=email)
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    input(type='password', name=everyauth.password.passwordFormFieldName)
  #submit
    input(type='submit') Login
