h1 Register
p I won't spam your email, blah blah blah.
form(action='/register', method='POST')
  #email
    label(for=everyauth.password.loginFormFieldName) Email
    input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    input(type='password', name=everyauth.password.passwordFormFieldName)
  #submit
    input(type='submit') Register
