tr
  td=founduser.displayName
  td=founduser.wins
  td=founduser.losses
  td=founduser.roundwins
  td=founduser.roundlosses
  td=founduser.roundplays
  td=founduser.roundfirsts
  td=founduser.roundseconds
  td=founduser.roundthirds
